@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Parisienne|Tangerine');
@font-face{
	font-family: Kano;
	src: url(../fonts/Kano-regular.woff) format('woff');
	src: url(../fonts/Kano-regular.ttf) format('truetype');
}
@font-face{
	font-family: Ayuthaya;
	src: url(../fonts/Ayuthaya.woff) format('woff');
	src: url(../fonts/Ayuthaya.ttf) format('truetype');
}

html, body{
	margin: 0 auto;
	padding: 0;
}
/* div{
	border: 1px solid black;
} */
h1{
	font-family: 'Poiret One', cursive;
	margin: 0;
	padding: 0;
}
h2{
	font-family: 'Poiret One', cursive;
	margin: 0;
	padding: 0;
}
hr{
	width: 50%;
	padding-right: 10em;
	margin: 1em;
}

li{
	/*border: 1px solid black;*/
	padding: 1em;
	margin-left: 1em;
	margin-right: 1em;
	list-style-type: none;
	color: #7C7C7C;
	transition: all 750ms linear;
}

li:hover{
	color: black;
}
a{
	text-decoration: none;
	font-family: 'Poiret One', cursive;
	color: #7C7C7C;
	transition: all 750ms linear;
	font-size: 1.8em;
	letter-spacing: .1em;
}
a:hover{
	color: black;
	font-weight: bold;
}

/*div{
	border: 1px solid black;
}*/

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.header-bar{
	display: grid;
	grid-template: 8em 2em / 1fr auto 1fr);
	justify-content: center;
	align-items: center;
	margin-top: 1.2em;
}
.title-box{
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-links{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.main-links h1{
	white-space: nowrap;
}

.main-body{
	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr auto 1fr;
	/*height: 50em;*/
	height: 100vh;
}
.main-title{
	font-size: 5em;
	letter-spacing: .2em;
	font-weight: 700;
	text-transform: uppercase;
	/*margin-left: .2em;*/
}
.sub-title-box{
	grid-area: 2/1/3/4;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-animation-duration: 5s;
	-webkit-animation-delay: .7s;
}
.r{
	letter-spacing: normal;
}
.big-r{
	letter-spacing: normal;
}
.sub-title{
	font-family: 'Poiret One', cursive;
	color: #7C7C7C;
	font-size: 1.8em;
	letter-spacing: 1em;
	margin: 0;
	padding-top: 1em;
}
.left-bracket{
	height: 100px;
}
.right-bracket{
	height: 100px;
}
.left-header-box{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.right-header-box{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.front-page-header{
	display: flex;
	justify-content: center;
	/*flex-direction: column;*/
	align-items: center;
	grid-column: 2 / 3;
}
.main-links{
	display: grid;
	/*border: 1px solid black;*/
	justify-content: center;
}
.main-prof-pic{
	height: 400px;
	-webkit-clip-path: polygon(50% 0%, 100% 49%, 50% 100%, 0 74%);
	clip-path: polygon(50% 0%, 100% 49%, 50% 100%, 0 74%);
}
.main-logo{
	max-height: 400px;
}
.main-abstract-pic{
	max-height: 30vh;
	width: 100%;
}
.box-2{
	grid-area: 1/2/3/3;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid black; */

}
.box-1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-3{
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-4{
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-5{
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-6{
	grid-area: 3/1/4/4;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-end;
}



/* About Page Styles */

.about-main{
	display: grid;
	grid-template: 7em 1fr / 50% 1fr;
	height: 100%;
}
.my-bio{
	padding: 3em;
	font-family: 'Poiret One', cursive;
	color: #7C7C7C;
	font-size: 1.3em;
	letter-spacing: .1em;
	line-height: 1.3em;
}
.about-box-1{
	display: flex;
	align-items: center;
	padding-left: 3em;
}
.about-box-4{
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-box-3{
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-box-5{
	grid-column: 1/3;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.about-abstract-pic{
	height: 300px;
	width: 100%;
}
.main-logo-about{
	max-height: 110px;
}
.about-box-2{
	display: grid;
	grid-template: 1fr / 3fr 1fr;
}
.about-nav-1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-home-link{
	display: inline-block;
	font-size: .7em;
}
.about-projects-link{
	display: inline-block;
	font-size: .7em;
}
.about-music-link{
	display: inline-block;
	font-size: .7em;
}
.about-contact-link{
	display: inline-block;
	font-size: .7em;
}
.main-about-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	padding-top: .5em;
}

/* Projects Page Styles */

.main-body-projects{
	display: grid;
	grid-template: 7em 1fr 1fr 1fr 1fr / 1fr 1fr;
	height: 200vh;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.projects-box-1{
	display: flex;
	align-items: center;
	padding-left: 3em;
}
.projects-box-2{
	display: grid;
	grid-template: 1fr / 3fr 1fr;
}
.projects-box-3,
.projects-box-5,
.projects-box-7,
.projects-box-9{
	display: flex;
	align-items: center;
	justify-content: center;
}

.projects-box-10,
.projects-box-8,
.projects-box-6,
.projects-box-4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.knetic-screenshot-container{
	display: inline-block;
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-khtml-border-radius: 50%;
}
.knetic-screenshot{
	height: 100%;
	width: auto;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	transition: all 500ms linear;
}
.ftm-screen-clip-container{
	display: inline-block;
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-khtml-border-radius: 50%;
}
.ftm-screenshot{
	height: 100%;
	max-width: auto;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	transition: all 500ms linear;
}
.knetic-screenshot:hover{
	filter: none;
	-webkit-filter: grayscale(0%);
	transition: all 500ms linear;
}
.foris-screenshot-container{
	display: inline-block;
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-khtml-border-radius: 50%;
}
.foris-screenshot{
	height: 300px;
	width: auto;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	transition: all 500ms linear;
}
.foris-screenshot:hover{
	filter: none;
	-webkit-filter: grayscale(0%);
	transition: all 500ms linear;
}
.cutting-board-screen-clip-container{
	display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-khtml-border-radius: 50%;
}
.cutting-board-screenshot{
	height: 100%;
	width: auto;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	transition: all 500ms linear;
}
.cutting-board-screenshot:hover{
	filter: none;
	-webkit-filter: grayscale(0%);
	transition: all 500ms linear;
}
.ftm-screenshot{
	height: 100%;
	width: auto;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	transition: all 500ms linear;
}
.ftm-screenshot:hover{
	filter: none;
	-webkit-filter: grayscale(0%);
	transition: all 500ms linear;
}

.project-bio-text{
	padding: 1em;
	padding-right: 10em;
	padding-top: .5em;
	margin: 0;
	font-family: 'Poiret One', cursive;
	color: #7C7C7C;
	font-size: 1em;
	letter-spacing: .1em;
	line-height: 1.3em;
}

.knetic-header{
	font-family: Kano;
	padding-left: .45em;
	padding-top: .8em;
	padding-bottom: .7em;
}
.foris-header{
	font-family: Ayuthaya;
	padding-left: .45em;
	padding-top: .8em;
	padding-bottom: .7em;
}
.cutting-board-header{
	font-family: 'Parisienne', cursive;
	padding-left: .45em;
	padding-top: .8em;
	padding-bottom: .7em;
}
.ftm-header{
	font-family: courier new;
	text-decoration: none;
	padding-left: .45em;
	padding-top: .8em;
	padding-bottom: .7em;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Contact Page Styles */

.contact-main-body{
	display: grid;
	grid-template: 13em / 1fr;
	max-height: 600px;
}

.contact-box-2{
	display: grid;
	grid-template: 1fr / 3fr 1fr;
}
.contact-nav{
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-header{
	display: grid;
	grid-template: 7em / 1fr 1fr;
}
.contact-box-3{
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact-box-3 a img{
	display: flex;
	margin: 2em;
	height: 65px;
}
.email-logo{
	margin: 2em;
}
.linkedIn-logo{
	margin: 2em;
}
.github-logo{
	margin: 2em;
}
.facebook-logo{
	margin: 2em;
}
.insta-logo{
	margin: 2em;
}
.beatport-logo{
	margin: 2em;
}
.soundcloud-logo{
	margin: 2em;
}
.contact-box-4{
	position: relative;
	/* bottom: 0; */
}
.contact-texture-image{
	width: 100%;
 	/* bottom: 0px; */
}

/* Music Page Styles */
.music-main-body{
	display: flex;
	height: 700px;
	width: 100%;
	margin-top: 5em;
	margin-bottom: 5em;
	background: url('../images/speaker.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: left top;
}

.music-image{
	-webkit-clip-path: polygon(0 19%, 100% 4%, 100% 100%, 0% 100%);
	clip-path: polygon(0 19%, 100% 4%, 100% 100%, 0% 100%);
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	bottom: 0;
	position: relative;
}
.music-player-1{
	display: flex;
	float: left;
	margin: 4em;
	width: 50%;
}
.music-player-2{
	display: flex;
	margin: 4em;
	width: 50%;
}
.music-background-splash{
	margin-top: 8em;
}
.logo{
	display: none;
}

.box-7{
	display: none;
}


/* Responsive Design Code */

@media only screen and (max-width: 992px){
	.box-2{
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		display: none;
	}
	.container{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.about-nav-1{
		display: flex;
		flex-direction: column;
		margin: 0;
		padding-bottom: 100px;
	}
	.about-nav-2{
		display: flex;
		margin: 0;
		justify-content: center;
		align-content: center;
	}
	.main-body-projects{
		display: grid;
		grid-template-columns: 1fr;
		width: 80%;
		justify-content: center;
		align-content: center;
		height: 100%;
	}
	.music-main-body{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		width: 100%;
		height: 100%;
	}
	.contact-header{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.contact-box-2{
		display: flex;
		flex-direction: row;
	}
	.contact-main-logo{
		display: none;
	}
	.about-main .about-nav-2,
	.main-body-projects .about-nav-2
	{
		display: none;
	}
	.about-nav-2{
		display: none;
	}
	.projects-box-1{
		grid-template-columns: 1fr;
		justify-content: center;
		align-content: center;
	}
	.projects-box-2{
		grid-template-columns: 1fr;
		justify-content: center;
		align-content: center;
	}
	.projects-box-3{
		justify-content: center;
		align-content: center;
		padding-right: 0;
	}
	.projects-box-4{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		text-align: center;
		padding-right: 0;
	}
	.projects-box-5{
		justify-content: center;
		align-content: center;
		padding-right: 0;
	}
	.projects-box-6{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		text-align: center;
		padding-right: 0;
	}
	.projects-box-7{
		justify-content: center;
		align-content: center;
		padding-right: 0;
	}
	.projects-box-8{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		text-align: center;
		padding-right: 0;
	}
	.projects-box-9{
		justify-content: center;
		align-content: center;
		padding: 0;
		overflow: none;
	}
	.projects-box-10{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		text-align: center;
		padding-right: 0;
	}
	.main-about-logo{
		margin: 0;
	}
	.project-bio-text{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		/*text-align: center;*/
		padding-right: 1em;
	}
	.main-abstract-pic{
		margin: none;
	}
	.my-bio{
		font-size: 1.2em;
		text-align: center;
		margin: 0;
		padding: 0;
		margin-bottom: 30px;
	}
	.main-prof-pic{
		height: 225px;
		width: auto;
		padding-top: 10px;
		margin-bottom: 30px;
	}
	.about-box-1{
		padding: 0;
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		margin-top: 40px;
	}
	.about-box-2{
		padding: 0;
		display: flex;
		justify-content: center;
	}
	.music-player-1{
		display: flex;
		align-self: center;
		min-width: 300px;
		position: relative;
	}
	.music-player-2{
		display: flex;
		align-self: center;
		min-width: 300px;
		position: relative;
	}
	.contact-nav{
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
	}
	.music-background-splash, .music-main-body{
		margin: 0;
	}
	.reach-out-text{
		font-size: 1.6em;
	}
	.contact-box-3{
		display: flex;
		flex-direction: row;
	}
	.contact-box-3 a img{
		display: flex;
		margin: 1em;
		height: 35px;
	}
	.box-7{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}

@media only screen and (max-width: 768px){
	.container {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.main-body, .about-main{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.main-logo{
		/* position: absolute; */
		max-height: 150px;
		bottom: 7em;
	}
	.main-body-projects .about-nav-2{
		display: none;
	}
	.main-body a{
		font-size: 1.2em;
	}
	.main-body-projects a{
		font-size: 1.6em;
	}
	.about-main a{
		font-size: 1.6em;
	}
	.box-2{
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		display: none;
	}
	.header-bar{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.sub-title{
		font-size: 1.2em;
		letter-spacing: .2em;
		margin-bottom: 40px;
	}
	.left-bracket{
		height: 2.8em;
	}
	.right-bracket{
		height: 2.8em;
	}
	.main-links .main-title{
		font-size: 2.8em;
	}
	.main-body-projects{
		display: grid;
		grid-template-columns: 1fr;
		max-width: 90%;
		justify-content: center;
		align-content: center;
		height: 100%;
	}
	.projects-box-4{
		grid-template: 1fr;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-content: center;
	}
	.projects-box-1{
		padding: 0;
	}
	.contact-nav{
		display: flex;
		flex-direction: column;
	}
}


	@media only screen and (max-width: 480px){
		.contact-box-3 a img{
			display: flex;
			margin: .3em;
			height: 25px;
		}
	}
}
